<h2>Enter a New Game into your Catalog</h2>

<form class="" action="/games" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" value="">
  <br>
  <label for="genre"> Genre:</label>
  <input type="text" name="genre" value="">
  <br>
  <label for="system">System:</label>
  <input type="text" name="system" value="">
  <br>
  <label for="dev_company">Developer:</label>
  <input type="text" name="dev_company" value="">
  <br>
  <label for="release_year">Release Year:</label>
  <input type="text" name="release year" value="">
  <br>
  <input type="submit" value="Enter Game">
</form> 